.desktop-7,
.desktop-7 * {
  box-sizing: border-box;
}
.desktop-7 {
  background: #ffffff;
  width: 1440px;
  height: 3683px;
  position: relative;
  overflow: hidden;
}
.mask-group {
  position: absolute;
  left: 0px;
  top: 151px;
  overflow: visible;
}
.rectangle-3 {
  position: absolute;
  left: 0px;
  top: -0.5px;
  overflow: visible;
}
.home {
  color: #1d71b8;
  text-align: left;
  font: 400 20px "Inter", sans-serif;
  position: absolute;
  left: 379px;
  top: 99px;
}
.glossario {
  color: #1d71b8;
  text-align: left;
  font: 400 20px "Inter", sans-serif;
  position: absolute;
  left: 561px;
  top: 99px;
}
.cos-l-amp {
  color: #1d71b8;
  text-align: left;
  font: 400 20px "Inter", sans-serif;
  position: absolute;
  left: 798px;
  top: 99px;
}
.mappe-capo-milazzo-trascinato-6 {
  width: 624px;
  height: 720px;
  position: absolute;
  left: 155px;
  top: 1339px;
}
.zona-a {
  color: #ffffff;
  text-align: left;
  font: 400 20px "Inter", sans-serif;
  position: absolute;
  left: 826px;
  top: 2376px;
}
.rectangle-12 {
  background: #d9d9d9;
  width: 31px;
  height: 31px;
  position: absolute;
  left: 259px;
  top: 2227px;
}
.rectangle-122 {
  position: absolute;
  left: 0px;
  top: 2015px;
  overflow: visible;
}
.ministero-ambiente-territorio-1 {
  width: 219px;
  height: 123px;
  position: absolute;
  left: 189px;
  top: 3485px;
}
.logo-universita-messina-1 {
  width: 123px;
  height: 123px;
  position: absolute;
  left: 830px;
  top: 3485px;
}
.citta-di-milazzo-1 {
  width: 124px;
  height: 123px;
  position: absolute;
  left: 557px;
  top: 3485px;
}
.logo-marevivo-milazzo-1 {
  width: 149px;
  height: 123px;
  position: absolute;
  left: 1102px;
  top: 3485px;
}
.rectangle-13 {
  border-radius: 0px;
  position: absolute;
  left: 273px;
  top: 2946px;
  overflow: visible;
}
.rectangle-16 {
  width: 309px;
  height: 314px;
  position: absolute;
  left: 0px;
  top: 2946px;
}
.cernie-rosse-le-cernie-rosse-sono-pesci-marini-di-grandi-dimensioni-caratterizzati-dal-loro-colore-rosso-arancio-brillante-e-dalla-forma-massiccia-si-trovano-in-ambienti-marini-e-costieri-queste-cernie-sono-prede-apprezzate-nella-gastronomia-ma-la-loro-pesca-eccessiva-pu-rappresentare-una-minaccia-per-la-loro-sopravvivenza-e-per-l-equilibrio-degli-ecosistemi-marini {
  color: #000000;
  text-align: left;
  position: absolute;
  left: calc(50% - 369px);
  top: calc(50% - -1129.5px);
  width: 570px;
  height: 266px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cernie-rosse-le-cernie-rosse-sono-pesci-marini-di-grandi-dimensioni-caratterizzati-dal-loro-colore-rosso-arancio-brillante-e-dalla-forma-massiccia-si-trovano-in-ambienti-marini-e-costieri-queste-cernie-sono-prede-apprezzate-nella-gastronomia-ma-la-loro-pesca-eccessiva-pu-rappresentare-una-minaccia-per-la-loro-sopravvivenza-e-per-l-equilibrio-degli-ecosistemi-marini-span {
  color: #000000;
  font: 700 25px "Inter", sans-serif;
}
.cernie-rosse-le-cernie-rosse-sono-pesci-marini-di-grandi-dimensioni-caratterizzati-dal-loro-colore-rosso-arancio-brillante-e-dalla-forma-massiccia-si-trovano-in-ambienti-marini-e-costieri-queste-cernie-sono-prede-apprezzate-nella-gastronomia-ma-la-loro-pesca-eccessiva-pu-rappresentare-una-minaccia-per-la-loro-sopravvivenza-e-per-l-equilibrio-degli-ecosistemi-marini-span2 {
  color: #000000;
  font: 500 20px "Inter", sans-serif;
}
.rectangle-17 {
  border-radius: 0px;
  position: absolute;
  left: 1171px;
  top: 2858px;
  transform: translate(-681px, -314px);
  overflow: visible;
}
.rectangle-19 {
  border-radius: 0px;
  position: absolute;
  left: -1px;
  top: 2458px;
  transform: translate(1px, -115px);
  overflow: visible;
}
.rectangle-18 {
  width: 309px;
  height: 314px;
  position: absolute;
  left: 1135px;
  top: 2544px;
}
.aragosta-l-aragosta-un-crostaceo-marino-di-grandi-dimensioni-noto-per-il-suo-corpo-corazzato-e-le-grandi-chele-questi-animali-vivono-sul-fondale-marino-e-si-nutrono-di-varie-fonti-di-cibo-sono-apprezzati-in-cucina-per-la-loro-carne-pregiata-ma-a-causa-della-pesca-eccessiva-alcune-specie-di-aragosta-sono-minacciate {
  color: #000000;
  text-align: left;
  position: absolute;
  left: calc(50% - 181px);
  top: calc(50% - -727.5px);
  width: 570px;
  height: 266px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.aragosta-l-aragosta-un-crostaceo-marino-di-grandi-dimensioni-noto-per-il-suo-corpo-corazzato-e-le-grandi-chele-questi-animali-vivono-sul-fondale-marino-e-si-nutrono-di-varie-fonti-di-cibo-sono-apprezzati-in-cucina-per-la-loro-carne-pregiata-ma-a-causa-della-pesca-eccessiva-alcune-specie-di-aragosta-sono-minacciate-span {
  color: #000000;
  font: 700 25px "Inter", sans-serif;
}
.aragosta-l-aragosta-un-crostaceo-marino-di-grandi-dimensioni-noto-per-il-suo-corpo-corazzato-e-le-grandi-chele-questi-animali-vivono-sul-fondale-marino-e-si-nutrono-di-varie-fonti-di-cibo-sono-apprezzati-in-cucina-per-la-loro-carne-pregiata-ma-a-causa-della-pesca-eccessiva-alcune-specie-di-aragosta-sono-minacciate-span2 {
  color: #000000;
  font: 500 20px "Inter", sans-serif;
}
.campi-ormeggio-consentito-l-ormeggio-a-natanti-imbarcazioni-e-navi-da-diporto {
  color: #000000;
  text-align: left;
  font: 400 20px "Inter", sans-serif;
  position: absolute;
  left: 904px;
  top: 1439px;
  width: 375px;
  height: 238px;
}
.informazioni {
  color: #000000;
  text-align: left;
  font: 700 25px "Inter", sans-serif;
  position: absolute;
  left: 904px;
  top: 1339px;
}
.un-p-di-flora-e-fauna {
  color: #000000;
  text-align: left;
  font: 700 40px "Inter", sans-serif;
  position: absolute;
  left: 202px;
  top: 2376px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.campi-ormeggio {
  color: #000000;
  text-align: left;
  font: 500 64px "Inter", sans-serif;
  position: absolute;
  left: 290px;
  top: 1039px;
}
.mappa-ed-informazioni {
  color: #000000;
  text-align: left;
  font: 400 32px "Inter", sans-serif;
  position: absolute;
  left: 290px;
  top: 1137px;
}
.ancoraggio-consentito {
  color: #1d71b8;
  text-align: left;
  font: 400 20px "Inter", sans-serif;
  position: absolute;
  left: 1009px;
  top: 1718px;
  width: 278px;
  height: 48px;
}
.aree-ancoraggio-predisposte {
  color: #1d71b8;
  text-align: left;
  font: 400 20px "Inter", sans-serif;
  position: absolute;
  left: 1009px;
  top: 1799px;
  width: 251px;
  height: 80px;
}
.nessun-limite-di-velocit {
  color: #1d71b8;
  text-align: left;
  font: 400 20px "Inter", sans-serif;
  position: absolute;
  left: 1009px;
  top: 1891px;
  width: 251px;
  height: 79px;
}
.icone-1-tavola-disegno-4 {
  width: 66px;
  height: 265px;
  position: absolute;
  left: 905px;
  top: 1693px;
}
.amp-7 {
  width: 381.13px;
  height: 204px;
  position: absolute;
  left: 505px;
  top: 395px;
}
.capo-milazzo-logo-1-7 {
  width: 140px;
  height: 83px;
  position: absolute;
  left: 126px;
  top: 77px;
}
