.desktop-4,
.desktop-4 * {
  box-sizing: border-box;
}
.desktop-4 {
  background: #ffffff;
  width: 1440px;
  height: 3683px;
  position: relative;
  overflow: hidden;
}
.mask-group {
  position: absolute;
  left: 0px;
  top: 151px;
  overflow: visible;
}
.rectangle-3 {
  position: absolute;
  left: 0px;
  top: -0.5px;
  overflow: visible;
}
.home {
  color: #1d71b8;
  text-align: left;
  font: 400 20px "Inter", sans-serif;
  position: absolute;
  left: 379px;
  top: 99px;
}
.mappe-capo-milazzo-trascinato-4 {
  width: 624px;
  height: 720px;
  position: absolute;
  left: 155px;
  top: 1339px;
}
.glossario {
  color: #1d71b8;
  text-align: left;
  font: 400 20px "Inter", sans-serif;
  position: absolute;
  left: 561px;
  top: 99px;
}
.cos-l-amp {
  color: #1d71b8;
  text-align: left;
  font: 400 20px "Inter", sans-serif;
  position: absolute;
  left: 798px;
  top: 99px;
}
.zona-a {
  color: #ffffff;
  text-align: left;
  font: 400 20px "Inter", sans-serif;
  position: absolute;
  left: 826px;
  top: 2376px;
}
.rectangle-12 {
  background: #d9d9d9;
  width: 31px;
  height: 31px;
  position: absolute;
  left: 259px;
  top: 2227px;
}
.rectangle-122 {
  position: absolute;
  left: 0px;
  top: 2016px;
  overflow: visible;
}
.ministero-ambiente-territorio-1 {
  width: 219px;
  height: 123px;
  position: absolute;
  left: 189px;
  top: 3484px;
}
.logo-universita-messina-1 {
  width: 123px;
  height: 123px;
  position: absolute;
  left: 830px;
  top: 3484px;
}
.citta-di-milazzo-1 {
  width: 124px;
  height: 123px;
  position: absolute;
  left: 557px;
  top: 3484px;
}
.logo-marevivo-milazzo-1 {
  width: 149px;
  height: 123px;
  position: absolute;
  left: 1102px;
  top: 3484px;
}
.vietato-lancoraggio {
  color: #0067a9;
  text-align: left;
  font: 400 20px "Inter", sans-serif;
  position: absolute;
  left: 1007px;
  top: 1718px;
  width: 271px;
  height: 19px;
}
.no-aree-ancoraggio {
  color: #0067a9;
  text-align: left;
  font: 400 20px "Inter", sans-serif;
  position: absolute;
  left: 1007px;
  top: 1798px;
  width: 244px;
  height: 77px;
}
.massimo-3-nodi {
  color: #0067a9;
  text-align: left;
  font: 400 20px "Inter", sans-serif;
  position: absolute;
  left: 1007px;
  top: 1890px;
  width: 244px;
  height: 77px;
}
.rectangle-13 {
  border-radius: 0px;
  position: absolute;
  left: 273px;
  top: 2946px;
  overflow: visible;
}
.rectangle-16 {
  width: 309px;
  height: 314px;
  position: absolute;
  left: 0px;
  top: 2946px;
}
.barracuda-mediterraneo-la-barracuda-mediterranea-un-predatore-delle-acque-temperate-del-mar-mediterraneo-con-corpo-snodato-e-veloce-ha-colorazione-variabile-e-linee-scure-lungo-il-corpo-essa-svolge-un-ruolo-ecologico-e-interessa-pesca-sportiva-e-commerciale-tuttavia-in-cima-alla-catena-alimentare-pu-accumulare-sostanze-nocive-nei-tessuti-rendendo-la-carne-rischiosa-per-il-consumo-umano-in-quantit-elevate {
  color: #000000;
  text-align: left;
  position: absolute;
  left: calc(50% - 369px);
  top: calc(50% - -1129.5px);
  width: 570px;
  height: 266px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.barracuda-mediterraneo-la-barracuda-mediterranea-un-predatore-delle-acque-temperate-del-mar-mediterraneo-con-corpo-snodato-e-veloce-ha-colorazione-variabile-e-linee-scure-lungo-il-corpo-essa-svolge-un-ruolo-ecologico-e-interessa-pesca-sportiva-e-commerciale-tuttavia-in-cima-alla-catena-alimentare-pu-accumulare-sostanze-nocive-nei-tessuti-rendendo-la-carne-rischiosa-per-il-consumo-umano-in-quantit-elevate-span {
  color: #000000;
  font: 700 25px "Inter", sans-serif;
}
.barracuda-mediterraneo-la-barracuda-mediterranea-un-predatore-delle-acque-temperate-del-mar-mediterraneo-con-corpo-snodato-e-veloce-ha-colorazione-variabile-e-linee-scure-lungo-il-corpo-essa-svolge-un-ruolo-ecologico-e-interessa-pesca-sportiva-e-commerciale-tuttavia-in-cima-alla-catena-alimentare-pu-accumulare-sostanze-nocive-nei-tessuti-rendendo-la-carne-rischiosa-per-il-consumo-umano-in-quantit-elevate-span2 {
  color: #000000;
  font: 500 20px "Inter", sans-serif;
}
.rectangle-17 {
  border-radius: 0px;
  position: absolute;
  left: 1171px;
  top: 2858px;
  transform: translate(-681px, -314px);
  overflow: visible;
}
.rectangle-19 {
  border-radius: 0px;
  position: absolute;
  left: -1px;
  top: 2458px;
  transform: translate(1px, -115px);
  overflow: visible;
}
.rectangle-18 {
  width: 309px;
  height: 314px;
  position: absolute;
  left: 1135px;
  top: 2544px;
}
.tonno-il-tonno-un-pesce-pelagico-ampiamente-diffuso-in-mari-e-oceani-globali-con-corpo-robusto-e-veloce-preda-ambita-nell-industria-ittica-grazie-alla-sua-carne-apprezzata-in-cucina-tuttavia-la-pesca-eccessiva-solleva-preoccupazioni-per-la-conservazione-delle-sue-popolazioni {
  color: #000000;
  text-align: left;
  position: absolute;
  left: calc(50% - 181px);
  top: calc(50% - -727.5px);
  width: 570px;
  height: 266px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.tonno-il-tonno-un-pesce-pelagico-ampiamente-diffuso-in-mari-e-oceani-globali-con-corpo-robusto-e-veloce-preda-ambita-nell-industria-ittica-grazie-alla-sua-carne-apprezzata-in-cucina-tuttavia-la-pesca-eccessiva-solleva-preoccupazioni-per-la-conservazione-delle-sue-popolazioni-span {
  color: #000000;
  font: 700 25px "Inter", sans-serif;
}
.tonno-il-tonno-un-pesce-pelagico-ampiamente-diffuso-in-mari-e-oceani-globali-con-corpo-robusto-e-veloce-preda-ambita-nell-industria-ittica-grazie-alla-sua-carne-apprezzata-in-cucina-tuttavia-la-pesca-eccessiva-solleva-preoccupazioni-per-la-conservazione-delle-sue-popolazioni-span2 {
  color: #000000;
  font: 500 20px "Inter", sans-serif;
}
.zona-bs-riserva-generale-speciale-non-consentito-l-ancoraggio-le-manovre-di-avvicinamento-alle-zone-di-ancoraggio-e-di-allontanamento-dalle-stesse-devono-avvenire-a-velocit-non-superiore-a-3-nodi-con-rotta-perpendicolare-alla-linea-di-costa {
  color: #000000;
  text-align: left;
  font: 400 20px "Inter", sans-serif;
  position: absolute;
  left: 904px;
  top: 1439px;
  width: 375px;
  height: 238px;
}
.informazioni {
  color: #000000;
  text-align: left;
  font: 700 25px "Inter", sans-serif;
  position: absolute;
  left: 904px;
  top: 1339px;
}
.un-p-di-flora-e-fauna {
  color: #000000;
  text-align: left;
  font: 700 40px "Inter", sans-serif;
  position: absolute;
  left: 202px;
  top: 2376px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.zona-bs {
  color: #000000;
  text-align: left;
  font: 500 64px "Inter", sans-serif;
  position: absolute;
  left: 290px;
  top: 1039px;
}
.mappa-ed-informazioni {
  color: #000000;
  text-align: left;
  font: 400 32px "Inter", sans-serif;
  position: absolute;
  left: 290px;
  top: 1137px;
}
.icone-1-02 {
  width: 67px;
  height: 265px;
  position: absolute;
  left: 902px;
  top: 1693px;
}
.amp-4 {
  width: 381.13px;
  height: 204px;
  position: absolute;
  left: 505px;
  top: 395px;
}
.capo-milazzo-logo-1-4 {
  width: 140px;
  height: 83px;
  position: absolute;
  left: 126px;
  top: 77px;
}
